
#gridContainer {
    width: 500px;
    height: 500px;
    border: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex: 1;
}

.gridSquare {
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    flex:1;
}

.gridSquareToggle {
    background-color: black;
}

button {
    margin: 5px;
}
